//Colors Primary
$darkViolet: hsl(256, 26%, 20%);
$grayishBlue: hsl(216, 30%, 68%);

//Colors Neutral
$veryDarkViolet: hsl(270, 9%, 17%);
$darkGrayishViolet: hsl(273, 4%, 51%);
$veryLightGray: hsl(0, 0%, 98%);

//font headings
$fontHeadings: 'DM Serif Display', serif;

//font body 
$fontBody: 'Karla', sans-serif;

//font weights and size
$fontSizeMain: 16px;
$fontWeightRegural: 400;
$fontWeightBold: 700;