.hero{
    width: 100%;

    @media(min-width: 900px) {
        position: relative;
        display: flex;
        height: 530px;
    }

    &__carousel{
        height: 360px;
        display: flex;
        overflow-x: hidden;
        transition: all 0.3s linear;
        position: relative;

        @media(min-width: 560px) {
            height: 480px;
        }


        @media(min-width: 900px) {
            height: 530px;
            width: 250%;
            position: static;

        }
    

    }

    &__img{
        height: 100%;
        &--1{
            margin-left: 0;
        }

        &--2 {
            margin-left: -600px;

            @media(min-width: 560px) {
                margin-left: -760px;
            }

            @media (min-width: 900px) {
                margin-left: -850px;
                
            }
        }
        &--3 {
            margin-left: -1200px;

            @media(min-width: 560px) {
                margin-left: -1550px;
            }

            @media (min-width: 900px) {
                margin-left: -1700px;
            }

        }

    }

    &__buttons{
        position: absolute;
        right: 0;
        bottom: 0;
        height: 55px;
        width: 110px;
        background-color: black;
        display: flex;
        button{
            color: white;
            height: 100%;
            width: 55px;
            font-size: 25px;
            transition: all 0.3s ease-in;
            cursor: pointer;

            &:hover{
                background-color: $veryDarkGray;
            }
        }

        @media(min-width: 900px) {
            position: absolute;
            z-index: 5;
            left: 40%;
            bottom: 0;
        }
    }


    &__texts{
        padding: 70px 32px;

        @media(min-width: 900px) {
            width: 60%;
            height: 530px;
            background-color: white;
            position: absolute;
            top: 0;
            right: 0;

            padding: 130px 100px;
        }

    }

    &__text{
        // width: 80%;
        &--1{
            opacity: 0;
            display: none;
        }
        &--2{
            
            opacity: 0;
            display: none;

        }
        &--3{
            opacity: 0;
            display: none;
        }
        
        &--active{
            opacity: 1;
            display: block;
            animation: fadeIn 2s ;

        }
    }

    &__header{
        font-size: 28px;
    }

    &__paragraph{
        margin-top: 20px;
        color: $darkGray;
    }

    &__cta{
        display: block;
        margin-top: 60px;
        font-size: 20px;
        text-transform: uppercase;
        transition: all 0.3s ease-in;

        &:hover{
            color: $darkGray;

        }
        
    }
}

@keyframes fadeIn {
    from {
    opacity: 0;    
    }
    to {
    opacity: 1;
    }
  }


