* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.test {
  width: 100vw;
  height: 100vh;
}

.atlas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
}

.atlas__content {
  max-height: 1024px;
  max-width: 768px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 8px 8px 24px 0px #bababa;
  box-shadow: 8px 8px 24px 0px #bababa;
}

@media (max-height: 768px) {
  .atlas__content {
    height: 768px;
    width: 576px;
  }
}

@media (max-height: 720px) {
  .atlas__content {
    height: 720px;
    width: 540px;
  }
}

.atlas__header {
  height: 144px;
  width: 597px;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  margin-bottom: 60px;
}

@media (max-height: 768px) {
  .atlas__header {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    height: 107px;
    width: 446px;
    margin-bottom: 43px;
  }
}

@media (max-height: 720px) {
  .atlas__header {
    height: 101px;
    width: 418px;
    margin-bottom: 40px;
  }
}

.atlas__load {
  background-color: blueviolet;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.atlas__display-box {
  max-height: 640px;
  width: 680px;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-height: 768px) {
  .atlas__display-box {
    height: 476px;
    width: 508px;
    margin-bottom: 43px;
  }
}

@media (max-height: 720px) {
  .atlas__display-box {
    height: 447px;
    width: 475px;
    margin-bottom: 40px;
  }
}

.atlas__animation {
  height: 100%;
  width: 100%;
}

.atlas__choice-wrapper {
  height: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 94px;
  margin-right: 94px;
  margin-bottom: 68px;
}

@media (max-height: 768px) {
  .atlas__choice-wrapper {
    margin-left: 72px;
    margin-right: 72px;
    margin-bottom: 50px;
  }
}

@media (max-height: 720px) {
  .atlas__choice-wrapper {
    margin-bottom: 40px;
  }
}

.atlas__choice-box {
  height: 57px;
  width: 57px;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  cursor: pointer;
}

@media (max-height: 768px) {
  .atlas__choice-box {
    height: 43px;
    width: 43px;
  }
}

@media (max-height: 720px) {
  .atlas__choice-box {
    height: 40px;
    width: 40px;
  }
}

.atlas__choice-box:not(:last-child) {
  margin-right: 16px;
}

@media (max-height: 768px) {
  .atlas__choice-box:not(:last-child) {
    margin-right: 12px;
  }
}

@media (max-height: 720px) {
  .atlas__choice-box:not(:last-child) {
    margin-right: 11px;
  }
}

.atlas__choice-box:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.atlas__choice-box--1 {
  background-image: url(../../icons/miniatura_strach.svg);
}

.atlas__choice-box--2 {
  background-image: url(../../icons/miniatura_zdziwienie.svg);
}

.atlas__choice-box--3 {
  background-image: url(../../icons/miniatura_cierpienie.svg);
}

.atlas__choice-box--4 {
  background-image: url(../../icons/miniatura_radosc.svg);
}

.atlas__choice-box--5 {
  background-image: url(../../icons/miniatura_ekscytacja.svg);
}

.atlas__choice-box--6 {
  background-image: url(../../icons/miniatura_zlosc.svg);
}

.atlas__choice-box--7 {
  background-image: url(../../icons/miniatura_wstyd.svg);
}

.atlas__choice-box--8 {
  background-image: url(../../icons/miniatura_pogarda.svg);
}

.opacity {
  opacity: 0;
}

.hidden {
  display: none;
}

.foggy {
  opacity: 0.25;
}

.unclickable {
  pointer-events: none;
}
/*# sourceMappingURL=style.css.map */